#img1 {
    padding: 50px 50px 30px 20px;
}

#img2 {
    padding: 5px 5px 5px 5px;
}

#img3 {
    padding: 5px 5px 5px 5px;
}

#img4 {
    padding: 5px 5px 5px 5px;
}

#img5 {
    padding: 5px 5px 3px 2px;
}

#img6 {
    padding: 5px 5px 5px 5px;
}